
body {
    display: flex;
    justify-content: center;
}

.main-wrapper {
    flex-grow: 1;
    height: 300vh; // удалить, после вёрстки
    background-color: $purple-dark;

    overflow: hidden;

    @include breakpoint-up(xxl){
        max-width: 80rem; // 1280px
    }

}

.container {
    //background-color: antiquewhite;
    
    &--pall {
        padding-top: 1.5rem; // 24px; 
        padding-right: 1.5rem; // 24px; 
        padding-bottom: 1.5rem; // 24px; 
        padding-left: 1.5rem; // 24px; 
    }

    &--px {
        padding-right: 1.5rem; // 24px; 
        padding-left: 1.5rem; // 24px; 
    }

    &--py {
        padding-top: 1.5rem; // 24px; 
        padding-bottom: 1.5rem; // 24px; 

    }

    &--pt {
        padding-top: 1.5rem; // 24px; 
    }
    &--pr {
        padding-right: 1.5rem; // 24px; 
    }
    &--pb {
        padding-bottom: 1.5rem; // 24px; 
    }
    &--pl {
        padding-left: 1.5rem; // 24px; 
    }

    
}

.grid {
    display: grid;
    grid-template-columns: [left] 0 [main] 5fr [right] 0 [end];
    grid-template-rows: [navigation] min-content [photo] min-content [separate-margin] 2rem [hero] min-content [end];

    @include breakpoint-up("xl") {
        grid-template-columns: [left] 3fr [main] 5fr [right] 1fr [end];
    }

    &--left-column {
        grid-column-start: left;
    }
    &--main-column {
        grid-column-start: main;
    }
    &--right-column {
        grid-column-start: right;
    }

    &--navigation-row {
        grid-row-start: navigation;
    }
    &--hero-row {
        grid-row-start: hero;
    }
    &--photo-row {
        grid-row-start: photo;
    }
}

.skill-progress-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// hide desktop menu
.hide-for-mobile {
    
    @include breakpoint-down("lg"){
        display: none;
    }
    
}

// hide desktop menu
.hide-for-medium {
    
    @include breakpoint-down("md"){
        display: none;
    }
    
}

// hide humburger menu
.hide-for-desktop {
    height: 100%;
    display: block;

    @include breakpoint-up("xl"){
        display: none;
    }


}

