.projects-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    

}

.projects-slider {
    max-width: 100%;


    display: flex;
    
    overflow: hidden;
    // // width: 90%;
    
    &__crop {
        display: flex;
        // height: 396px;


    }

}



.project
{
    position: relative;
    left: -18px;
    height: 396px;
    width: 236px;
    margin-left: 18px;
    margin-right: 18px;

    &-01 {
        background-image: url("/assets/img/projects/project-01.png");
    }
    &-02 {
        background-image: url("/assets/img/projects/project-02.png");
    }
    &-03 {
        background-image: url("/assets/img/projects/project-03.png");
    }
    &-04 {
        background-image: url("/assets/img/projects/project-04.png");
    }
    &-05 {
        background-image: url("/assets/img/projects/project-05.png");
    }
    &-06 {
        background-image: url("/assets/img/projects/project-06.png");
    }
    &-07 {
        background-image: url("/assets/img/projects/project-07.png");
    }
}