.skills {
   
}

.title {
    position: relative;
    display: flex;

    height: 55px;

    justify-content: center;
    align-items: center;

    margin-bottom: 36px;

    @include breakpoint-up("md"){
        height: 105px;
    }

    & > .bubble--title {
        position: relative;
        margin: 0 10%;
    }

    &__left, &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 10px;
        width: 100%;
    }
        
    &__circle{
        display: block;
        content: "";
        height: 10px;
        width: 10px;

        border-radius: 10px;

        background-color: $turquoise;


    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $blue-deep;
    }
}


.skill-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 22px;

    & > .skill-name {
        font-size: 10px;

        
    }

}
.progress {
    position: relative;

    height: 50px;
    width: 50px;

    margin-bottom: 8px;
    
    &-outer {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 50px;
        border-radius: 50%;

        background-color: $blue-dark;

        box-shadow: 3px 3px 3px -1px rgba(0,0,0, 0.50),
                    -1px -1px 2px -1px rgba(0,0,0, 0.70);
        // border: 1px solid white;
    }

    &-inner {display: flex;
        justify-content: center;
        align-items: center;

        height: 30px;
        width: 30px;
        border-radius: 50%;
        
        background-color: $purple-dark;
        
        box-shadow: inset 3px 3px 3px -1px rgba(0,0,0, 0.60),
                    inset -1px -1px 2px -1px rgba(0,0,0, 0.55);
    }

    &-number, &-percentage {
        font-size: 8px;
    }

    &-stroke {
        position: absolute;
        fill: none;
        stroke: $turquoise;
        stroke-width: 7px;
        stroke-dasharray: 128;
        stroke-dashoffset: 127;
    }
}