html {
  box-sizing: border-box;
  font-size: 1rem;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 700;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #119199;
  width: 11.25rem;
  height: 2.75rem;
  border-radius: 1.125rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

@media (min-width: 64em) {
  .cta {
    margin: 0 1.5rem;
    border-radius: 1.125rem;
    width: 14.75rem;
    height: 3.625rem;
  }
}
input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Text */
body {
  color: #ffffff;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 22px;
}

@media (min-width: 36em) {
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 48em) {
  h2 {
    font-size: 48px;
  }
}
p {
  font-weight: 300;
}

/* Links */
a, a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.show-on-scroll {
  opacity: 0;
  transform: translateY(50px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease;
}

body {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  flex-grow: 1;
  height: 300vh;
  background-color: #342C3C;
  overflow: hidden;
}
@media (min-width: 80em) {
  .main-wrapper {
    max-width: 80rem;
  }
}

.container--pall {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--py {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container--pt {
  padding-top: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 1.5rem;
}
.container--pl {
  padding-left: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: [left] 0 [main] 5fr [right] 0 [end];
  grid-template-rows: [navigation] min-content [photo] min-content [separate-margin] 2rem [hero] min-content [end];
}
@media (min-width: 64em) {
  .grid {
    grid-template-columns: [left] 3fr [main] 5fr [right] 1fr [end];
  }
}
.grid--left-column {
  grid-column-start: left;
}
.grid--main-column {
  grid-column-start: main;
}
.grid--right-column {
  grid-column-start: right;
}
.grid--navigation-row {
  grid-row-start: navigation;
}
.grid--hero-row {
  grid-row-start: hero;
}
.grid--photo-row {
  grid-row-start: photo;
}

.skill-progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 63.99875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .hide-for-medium {
    display: none;
  }
}

.hide-for-desktop {
  height: 100%;
  display: block;
}
@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.bubble {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(17, 145, 153, 0.1);
}
.bubble--title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
}
@media (min-width: 36em) {
  .bubble--title {
    height: 105px;
    width: 105px;
  }
}

.header {
  position: relative;
  margin-bottom: 50px;
}

@media (min-width: 64em) {
  .header {
    margin-bottom: 94px;
  }
}
.header-menu {
  grid-column-start: main;
  height: 4.125rem;
}

.header-menu__items {
  display: flex;
  justify-content: center;
}

.header-menu__item {
  padding-left: 10px;
  padding-right: 10px;
}

.header-menu__link {
  display: block;
}

@media (max-width: 63.99875em) {
  .header-menu {
    position: absolute;
  }
}
.navigation__humburger-menu {
  justify-self: end;
}

.navigation__humburger-menu__button {
  cursor: pointer;
  width: 1.5rem;
}

.navigation__humburger-menu__button > span {
  display: block;
  height: 2px;
  background-color: #ffffff;
}

.navigation__humburger-menu__button > span:not(:last-child) {
  margin-bottom: 6px;
}

.hero__content {
  position: relative;
  padding-top: 4rem;
}
@media (min-width: 64em) {
  .hero__content {
    padding-top: 2rem;
    flex-direction: row;
    justify-content: left;
  }
}
.hero__content--photo-column {
  z-index: 2;
  display: flex;
  justify-content: center;
}
@media (min-width: 64em) {
  .hero__content--photo-column {
    grid-column-start: left;
    grid-row-start: hero;
    padding-left: 10%;
  }
}
.hero__content--main-column {
  z-index: 1;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 64em) {
  .hero__content--main-column {
    padding: 0 30px;
  }
}
.hero__ribbon--wrapper {
  grid-column-start: left;
  grid-row-start: navigation;
  position: absolute;
  z-index: 1;
  top: 0rem;
  width: 3.125rem;
  height: 50px;
}
@media (min-width: 36em) {
  .hero__ribbon--wrapper {
    height: 88px;
    width: 4.375rem;
  }
}
@media (min-width: 48em) {
  .hero__ribbon--wrapper {
    height: 294px;
  }
}
@media (min-width: 64em) {
  .hero__ribbon--wrapper {
    height: 106%;
    width: 8%;
  }
}
@media (min-width: 80em) {
  .hero__ribbon--wrapper {
    height: 106%;
  }
}
.hero__ribbon--color {
  background-color: #119199;
  border-bottom-right-radius: 50px;
  height: 94%;
}
.hero__photo {
  min-width: 186px;
  max-width: 240px;
  width: 100%;
}
@media (min-width: 64em) {
  .hero__photo {
    justify-content: end;
    margin-bottom: 0;
    max-width: 384px;
  }
}
.hero__name > p {
  font-size: 1.125rem;
}
@media (min-width: 36em) {
  .hero__name > p {
    font-size: 1.5rem;
  }
}
.hero__position > h1 {
  margin-top: 1.25rem;
  font-size: 1.375rem;
  text-align: center;
}
@media (min-width: 36em) {
  .hero__position > h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 48em) {
  .hero__position > h1 {
    font-size: 3rem;
  }
}
.hero__cta {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
}
@media (min-width: 64em) {
  .hero__cta {
    flex-direction: row;
  }
}
.hero__cv {
  background-color: #1B5C81;
}
.hero__bubble {
  grid-column-start: main;
  grid-row-start: hero;
  top: -4%;
  right: 0;
  transform: translateX(50%);
  display: flex;
  min-width: 128px;
  min-height: 128px;
}
@media (min-width: 36em) {
  .hero__bubble {
    min-width: 204px;
    min-height: 204px;
    top: -14%;
  }
}
@media (min-width: 64em) {
  .hero__bubble {
    min-width: 204px;
    min-height: 204px;
    top: 15%;
  }
}

.skills {
  margin-bottom: 50px;
}

.title {
  position: relative;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
@media (min-width: 36em) {
  .title {
    height: 105px;
  }
}
.title > .bubble--title {
  position: relative;
  margin: 0 10%;
}
.title__left, .title__right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 100%;
}
.title__circle {
  display: block;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #119199;
}
.title__line {
  height: 2px;
  width: 100%;
  background-color: #1B5C81;
}

.skill-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}
@media (min-width: 36em) {
  .skill-flex-container {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (min-width: 48em) {
  .skill-flex-container {
    flex-direction: column;
    align-items: start;
  }
}

.languages {
  width: 50%;
  transform: translateX(50%);
}

.progress-number, .progress-percentage, .skill-name, .skill-note {
  font-size: 12px;
}
@media (min-width: 36em) {
  .progress-number, .progress-percentage, .skill-name, .skill-note {
    font-size: 16px;
  }
}

.skill-note {
  margin: 20px 0 42px;
}

.progress-helper-container {
  display: flex;
}
@media (min-width: 36em) {
  .progress-helper-container {
    order: 2;
  }
}
.progress-circle {
  position: relative;
  height: 86px;
  width: 86px;
  margin-bottom: 8px;
}
.progress-circle-outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background-color: #20456F;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.5), -1px -1px 2px -1px rgba(0, 0, 0, 0.7);
}
.progress-circle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: #342C3C;
  box-shadow: inset 3px 3px 3px -1px rgba(0, 0, 0, 0.6), inset -1px -1px 2px -1px rgba(0, 0, 0, 0.55);
}
.progress-stroke {
  position: absolute;
  fill: none;
  stroke: #119199;
  stroke-width: 10px;
  stroke-dasharray: 230;
  stroke-dashoffset: 229;
}
.progress-bar {
  order: 2;
  display: flex;
  align-items: center;
}
.progress-bar-outer {
  position: absolute;
  display: flex;
  height: 6px;
  width: 100%;
  border-radius: 6px;
  background-color: #20456F;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.5), -1px -1px 2px -1px rgba(0, 0, 0, 0.7);
}
.progress-bar-inner {
  position: absolute;
  display: flex;
  height: 4px;
  width: 0;
  border-radius: 4px;
  background-color: #119199;
}

.skill-progress-result {
  height: 86px;
  width: 86px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48em) {
  .skill-progress-result {
    margin: 10px 0;
    position: relative;
    height: -moz-min-content;
    height: min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (min-width: 48em) {
  .hide-progress-circle {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .hide-progress-bar {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */