@use "../mixins" as mixin;


.header {
    position: relative;
    margin-bottom: 50px;

    @include mixin.breakpoint-up("xl") {
        margin-bottom: 94px;
    }
    
}

.header-menu {
    grid-column-start: main;

    height: 4.125rem; // 66px
    // display: flex;
    // justify-content: center; // align center desktop nav

    &__items {
        display: flex;
        justify-content: center;
    }

    &__item {
            
        padding-left: 10px;
        padding-right: 10px;
    }

    &__link {
        display: block;
    }
    
    @include mixin.breakpoint-down("lg") {
        
        position: absolute;
    }
    
}

