@use "../variables" as variables;

.navigation__humburger-menu {
    
    
    justify-self: end;

    &__button {

        cursor: pointer;

        width: 1.5rem; // 24px;
            
            & > span {
                display: block;
                height: 2px;
                background-color: variables.$white;

                &:not(:last-child) {
                    margin-bottom: 6px;
                } 
            }
    }
}