@use "../variables" as variables;
@use "../mixins" as mixin;

/* Text color */
body {
    color: variables.$white;
    font-family:  Arial, sans-serif;
}

h2 {
    font-size: 22px;
    

    @include mixin.breakpoint-up(md){
        font-size: 40px;
    }

    @include mixin.breakpoint-up(lg){
        font-size: 48px;
    }
}


/* Links */
a, a:link, a:visited  {
    color: variables.$white;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}