@use "../variables" as variables;

/* Text color */
body {
    color: variables.$white;
    font-family:  Arial, sans-serif;
}


/* Links */
a, a:link, a:visited  {
    color: variables.$white;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}